@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.02em;
}